doctype html
html
  head
    title=title
    meta(charset='utf-8')
    meta(name='description', content="#{description}")
    meta(name='viewport', content='width=device-width, initial-scale=1')

    meta(property="og:url", content="#{url}")
    meta(property="og:title", content="#{title}")
    meta(property="og:image", content="#{img}")
    meta(property="og:description", content="#{description}")
    meta(property="og:type", content="article")

    link(rel='stylesheet', type='text/css', href='/data/fonts.css')
    link(rel='stylesheet', type='text/css', href='/data/specimen.css')
    link(rel='stylesheet', type='text/css', href='/css/main.css')
    script(src='/js/vendor/modernizr.js')

    <!-- Google Analytics -->
    script.
      window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
      ga('create', 'UA-57026857-2', 'auto');
      ga('send', 'pageview');
      
  body
    .of-container
  script(src='/js/vendor.js')
  script(src='/js/vendor/stepform.js')
  script(src='/js/app.js')
  if nodeEnv == 'development'
    script(type='text/javascript', id='__bs_script__').
      //<![CDATA[
      document.write("<script async src='http://HOST:3000/browser-sync/browser-sync-client.2.11.1.js'><\/script>".replace("HOST", location.hostname));
      //]]>

  script(async, src='//www.google-analytics.com/analytics.js')
  <!-- End Google Analytics -->
