doctype html
html
  head
    title=title
    meta(charset='utf-8')
    meta(name='description', content="#{description}")
    meta(name='viewport', content='width=device-width, initial-scale=1')

    meta(property="og:url", content="#{url}")
    meta(property="og:title", content="#{title}")
    meta(property="og:description", content="#{description}")
    meta(property="og:type", content="article")

    link(rel='stylesheet', type='text/css', href='/data/fonts.css')
    link(rel='stylesheet', type='text/css', href='/data/specimen.css')
    link(rel='stylesheet', type='text/css', href='/css/main.css')
    script(src='/js/vendor/modernizr.js')

  body
    .of-container

  script(src='/js/vendor.js')
  script(src='/js/vendor/stepform.js')
  script(src='/js/app.js')